<launch>
    <rosparam command="load" file="$(find adream_hri_experiments)/parameters/move3d_common.yaml" />

    <env name="ROSCONSOLE_CONFIG_FILE"
    value="$(find adream_hri_experiments)/parameters/debug_console.conf"/>

        <!--node name="move3d_facts" pkg="move3d_facts" type="move3d_facts" output="screen" launch-prefix="valgrind -v"/-->  <!-- Launch the move3dfacts node -->
        <node name="gtp" pkg="gtp" type="gtp" output="screen" launch-prefix="xterm -e gdb --args"/>  <!-- Launch the move3dfacts node -->
        <!--node name="move3d_facts" pkg="move3d_facts" type="move3d_facts" output="screen"/-->  <!-- Launch the move3dfacts node -->
</launch>
